h1 {
    color: #1b6ca8;
}
h2 {
    color: #1b6ca8;
}
h3 {
    color: #1b6ca8;
}
hr { 
        
     border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

img {
    height: 150px;
}

